*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
.banner{
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url(2.png);
}
.navber{
	display: flex;
	width: 90%;
	margin: auto;
	padding: 32px 0;
	align-items: center;
	justify-content: space-between;
}
.logo{
	cursor: pointer;
	border-radius: 50%;
}
.navber ul li{
	list-style-type: none;
	display: inline-block;
	margin: 0 25px;
}
.navber ul li a{
text-decoration: none;
color #fff;
}
.nevber ul li a:hover{
	box-shadow:0 2px red;
}
.content{
	width: 100%;
	position: absolute;
    top 40%
    color: white;
    text-align: center;
}
.content h1{
	font-size: 5px;
	color: darkred;
}
button{ 
	width: 200px;
	padding: 15px 0;
	border-radius: 35px;
	margin: 20px;
	text-align: center;
	color: white;
	cursor: pointer;
	font-weight: 600;
	background-color: #6166B3;
	font-size: 17px;
}
.content h2{
	font: sans-serif;
	font-size: 30px;
	color: darkblue;
}